/* Orders.css */

.status {
    color: white;
}

.status.cancelled {
    background-color: red;
}

.status.completed {
    background-color: green;
}

.status.processing {
    background-color: orange;
}